HOST=localhost
PORT=8000
APP_MODULE=app.application:create_fastapi_app()
MAX_WORKERS=1

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=public

API_KEY=98d15c37512839692435a861cba27cd7
SECURE_PATH=iFQ79CepxVYZaZJGuBdofR2GznHvQtL7

UNICORE_API_URL=https://unicore.ru/api
UNICORE_API_KEY=